{% extends "base.html" %}
{% block page_header %}accounts{% endblock %}

{% block main_content %}
<div id="modal-user" class="modal hide">
  <div class="modal-header">
    <a href="#" class="close">x</a>
    <h3>New User</h3>
  </div>
  <div class="modal-body">
    <form id="form-user" action="{{url_for('add_user')}}" method="POST">
      <fieldset>
        <div class="clearfix">
          <label for="username">Username</label>
          <div class="input">
            <input class="username span4 required" id="username" name="username" type="text"/>
          </div>
        </div>
        <div class="clearfix">
          <label for="email">Email</label>
          <div class="input">
            <input class="email span4 required" id="email" name="email" type="text"/>
          </div>
        </div>
        <div class="clearfix">
          <label for="password">Password</label>
          <div class="input">
            <input class="password span4 required" id="password" name="password" type="password"/>
          </div>
        </div>
        <div class="clearfix">
          <label for="password_confirm">Password (confirm)</label>
          <div class="input">
            <input class="password_confirm span4 required" id="password_confirm" name="password_confirm" type="password"/>
          </div>
        </div>
        <div class="clearfix">
          <label for="role">Role</label>
          <div class="input">
            <select class="medium required" id="role" name="role">
              <option value="">-----</option>
              {% for role in roles %}
              <option>{{role.rolename}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="actions">
          <a id="button-create-user" href="#" class="btn primary">Create</a>
          <a href="#" class="btn secondary" onclick="$('#modal-user').modal('hide');">Cancel</a>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
  </div>
</div>
<h2>Users</h2>
<div class="row pull-right">
  <div class="span2 well">
    <a href="#" data-controls-modal="modal-user" data-backdrop="true" data-keyboard="true" class="btn primary">New User</a>
  </div>
</div>
<div class="row">
  <div class="fill">
    {% if users %}
    <table id="users" class="zebra-striped">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>API Key</th>
          <th>Active</th>
          <th>Role</th>
          <th></th>
        </tr>
      </thead>
      {% for user in users %}
      <tr>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.apikey}}</td>
        <td width="10%">
          {% if user.enabled %}
          <span class="label success">Enabled</span>
          {% else %}
          <span class="label error">Disabled</span>
          {% endif %}
        </td>
        <td width="15%">{{user.role}}</td>
        <td width="25%">
          <a class="btn toggle" href="#" data-url="{{url_for('toggle_user', username=user.username)}}">{% if user.enabled %}Disable{% else %}Enable{% endif %}</a>
          <a class="btn delete error" href="#" data-url="{{url_for('delete_user', username=user.username)}}">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <div>There are no users.</div>
    {% endif %}
  </div>
</div>

<div id="modal-role" class="modal hide">
  <div class="modal-header">
    <a href="#" class="close">x</a>
    <h3>New Role</h3>
  </div>
  <div class="modal-body">
    <form id="form-role" action="{{url_for('add_role')}}" method="POST">
      <fieldset>
        <div class="clearfix">
          <label for="rolename">Name</label>
          <div class="input">
            <input class="rolename span4" id="rolename" name="rolename" type="text"/>
          </div>
        </div>
        <div class="actions">
          <a id="button-create-role" href="#" class="btn primary">Create</a>
          <a href="#" class="btn secondary" onclick="$('#modal-role').modal('hide');">Cancel</a>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
  </div>
</div>
<h2>Roles</h2>
<div class="row pull-right">
  <div class="span2 well">
    <a href="#" data-controls-modal="modal-role" data-backdrop="true" data-keyboard="true" class="btn primary">New Role</a>
  </div>
</div>
<div class="row">
  <div class="fill">
    {% if roles %}
    <table id="roles" class="zebra-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      {% for role in roles %}
      <tr>
        <td>{{role.rolename}}</td>
        <td width="10%"><a class="btn error" href="#" data-url="{{url_for('delete_role', rolename=role.rolename)}}">Delete</a></td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <div>There are no roles.</div>
    {% endif %}
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $("table#users").tablesorter({ sortList: [[0,0]]});
    $("table#roles").tablesorter({ sortList: [[0,0]]});
    $("#button-create-user").click(function(){
      // validate form
      var errors = false;
      var password = $("#form-user [name=password]");
      var password_confirm = $("#form-user [name=password_confirm]");
      if (validateForm("form-user") == false) {
        errors = true;
      }
      if (password.val() != password_confirm.val()) {
        password.parent().parent().addClass('error');
        password_confirm.parent().parent().addClass('error');
        errors = true;
      }
      if (errors) {
        return;
      } else {
        $("#form-user").submit();
      }
    });

    $("#button-create-role").click(function(){
      // validate form
      var errors = false;
      $("#form-role :input").each(function(i, f){
        if ($(f).val() == '') {
          $(f).parent().parent().addClass('error');
          errors = true;
        }
      });
      if (errors) {
        return;
      } else {
        $("#form-role").submit();
      }
    });

    $("#users a.btn.delete").click(function() {
      if (confirm('Are you sure you want to delete the user?')) {
        $(location).attr('href', (this).getAttribute('data-url'));
      }
    });
    $("#users a.btn.toggle").click(function() {
      if (confirm('Are you sure you want to enable/disable the user?')) {
        $(location).attr('href', (this).getAttribute('data-url'));
      }
    });
    $("#roles a.btn").click(function() {
      if (confirm('Are you sure you want to delete the role?')) {
        $(location).attr('href', (this).getAttribute('data-url'));
      }
    });
  });
</script>
{% endblock %}
